html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	
	background-color: #3b3a3d;
	color: #fdfcfb;
}

body,
button {
	font-family: 'Roboto Slab', sans-serif;
}

a {
	color: white;
}
	a:active,
	a.active {
		color: #f8f8f8;
	}

h1,
h2 {
	font-weight: normal;
	margin-top: 0;
}
h2 {
	margin-bottom: 0;
}

button {
	border: 0 none;
	outline: 0 none;
	background-color: #4b4a4e;
	color: inherit;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
	button * {
		/* Ensure the button is always the target of any pointer event on it. */
		pointer-events: none;
	}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: -4px 0;
}

.wrap-point {
	display: inline-block;
}

/* Engraved text */
.top-bar,
.menu button,
#resultsScreen {
	text-shadow:
		-1px -1px 1px rgba(0, 0, 0, 0.7),
		1px 1px 1px rgba(255, 255, 255, 0.25);
}

.top-bar {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	top: 0;
	height: 3.5rem; /* 56px default */
	margin: 0;
	padding: 1.1rem;
	font-size: 1.25rem;
	line-height: 100%;
	text-align: left;
	
	background-color: #525250;
	/* Polymer/MaterialZ Z1 */
	box-shadow:
		0 2px 5px 0 rgba(0, 0, 0, 0.26),
		0 2px 10px 0 rgba(0, 0, 0, 0.16);
	
	z-index: 4;
}
	#levelScreen .top-bar,
	#aboutScreen .top-bar {
		/* Polymer/MaterialZ Z2 */
		box-shadow:
			0 8px 17px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.top-bar button {
		width: 3.5rem;
		height: 3.5rem;
		margin: -1.1rem 0.875rem;
		vertical-align: top;
		
		border-radius: 0;
		background-size: 10.5rem 3.5rem;
		
		box-shadow:
			 5px 0 1px -1px rgba(255, 255, 255, 0.1),
			-5px 0 1px -1px rgba(0, 0, 0, 0.2);
	}
		.top-bar button:hover,
		.top-bar button:focus {
			background-position-x: -3.5rem;
			filter: brightness(1.05);
		}
		.top-bar button:active,
		.top-bar button.active {
			background-position-x: -7rem;
			box-shadow:
				 5px 0 1px -1px rgba(255, 255, 255, 0.2),
				-5px 0 1px -1px rgba(0, 0, 0, 0.1),
				inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		}

		.top-bar button.back-button {
			background-image: url('../images/buttons/back.jpg');
			margin-left: -1.1rem;
		}
			.prefer-input-keyboard .top-bar button.back-button {
				background-image: url('../images/buttons/back_backspace.jpg');
			}
			.prefer-input-gamepad .top-bar button.back-button {
				background-image: url('../images/buttons/back_face_bottom.jpg');
			}
			.prefer-input-xbox .top-bar button.back-button {
				background-image: url('../images/buttons/back_a.jpg');
			}
			.top-bar button.back-button.close-button {
				background-image: url('../images/buttons/close.jpg');
			}
				.prefer-input-keyboard .top-bar button.back-button.close-button {
					background-image: url('../images/buttons/close_esc.jpg');
				}
				.prefer-input-gamepad .top-bar button.back-button.close-button {
					background-image: url('../images/buttons/close_minus.jpg');
				}
				.prefer-input-xbox .top-bar button.back-button.close-button {
					background-image: url('../images/buttons/close_view.jpg');
				}
		.top-bar button#restart-button {
			background-image: url('../images/buttons/restart.jpg');
			margin-right: -1.1rem;
		}
			.prefer-input-keyboard .top-bar button#restart-button {
				background-image: url('../images/buttons/restart_r.jpg');
			}
			.prefer-input-gamepad .top-bar button#restart-button {
				background-image: url('../images/buttons/restart_face_left.jpg');
			}
			.prefer-input-xbox .top-bar button#restart-button {
				background-image: url('../images/buttons/restart_x.jpg');
			}

.view {
	position: fixed;
	box-sizing: border-box;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 3.5rem;
	
	opacity: 0;
	pointer-events: none;
	
	text-align: center;
	
	background-color: #3d3c3b;
	background-image: url('../images/backgrounds/stone_dark_speckled.jpg');
	background-size: cover;
	color: white;
	
	transform: translateY(90%);
	
	transition-property: opacity, transform, box-shadow;
	transition-duration: 0.2s;
}
	.has-ads .view {
		height: calc(100% - 3rem);
	}
	.view.open {
		transform: translateY(0%);
		opacity: 1;
		pointer-events: auto;
	}
	.view.open.suspended {
		pointer-events: none;
	}
	.view p {
		box-sizing: border-box;
	}
@media (min-width: 500px) and (min-height: 500px) {
	.top-bar {
		height: 4rem; /* 64px default */
		padding: 1.25rem;
		font-size: 1.4rem;
	}
		.top-bar button {
			width: 4rem;
			height: 4rem;
			margin: -1.25rem 1.325rem;
			background-size: 12rem 4rem;
		}
			.top-bar button:hover,
			.top-bar button:focus {
				background-position-x: -4rem;
			}
			.top-bar button:active,
			.top-bar button.active {
				background-position-x: -8rem;
			}
			
			.top-bar button.back-button {
				margin-left: -1.25rem;
			}
			.top-bar button#restart-button {
				margin-right: -1.25rem;
			}
	.view {
		padding-top: 4rem;
	}
		.has-ads .view {
			height: calc(100% - 3.5rem)
		}
}

.menu {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 16px;
	white-space: nowrap;
	overflow: auto;
	text-align: center;
}
	.menu button {
		min-width: 0;
		margin: 1em 0.5em;
		padding: 1em 2em;
		
		position: relative;
		
		box-shadow:
			inset 0 1px 3px 0 rgba(0, 0, 0, 0.25),
			inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25),
			0 0 0 0 rgba(0, 0, 0, 0.2),
			0 0 0 0 rgba(0, 0, 0, 0.15);
		
		transform: scale(1);
		
		transition-property: box-shadow, transform;
		transition-duration: 0.1s;
		transition-timing-function: linear;
	}
		.menu button:hover,
		.menu button:focus,
		#results-back-button:not(:active):not(.active) {
			z-index: 1;
			box-shadow:
				inset 0 1px 4px 0 rgba(0, 0, 0, 0.125),
				inset 0 0 0 rgba(0, 0, 0, 0.125),
				0 2px 5px 0 rgba(0, 0, 0, 0.26),
				0 2px 10px 0 rgba(0, 0, 0, 0.16);
			filter: brightness(1.05);
			transform: scale(1.2);
		}
		.menu button:active,
		.menu button.active {
			z-index: 2;
			box-shadow:
				inset 0 0 2px 0 rgba(0, 0, 0, 0.125),
				inset 0 0 0 rgba(0, 0, 0, 0.125),
				0 4px 10px 0 rgba(0, 0, 0, 0.23),
				0 4px 15px 0 rgba(0, 0, 0, 0.175);
			filter: brightness(1.07);
			transform: scale(1.3);
		}
@media (orientation: portrait) {
	.menu {
		white-space: normal;
	}
		.menu button {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
}

/* Title screen styles */
#titleScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0;
}
#titleScreen .menu {
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: 2em;
	overflow: visible;
}
#titleScreen .menu button {
	width: 184px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 120%;
}
#title {
	max-width: 100%;
	max-width: min(100%, 720px);
	max-height: 70%;
}
#title-canvas {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}
#title-glow1,
#title-glow2 {
	position: absolute;
	bottom: -31vw;
	width: 40vw;
	height: 30vw;
	color: hsla(270, 100%, 70%, 0.5);
	animation-iteration-count: infinite;
	pointer-events: none;
}
	#title-glow1 {
		left: 0;
		animation-duration: 5s;
	}
		#titleScreen.open:not(.suspended) #title-glow1 {
			animation-name: title-glow1;
		}
	#title-glow2 {
		right: 0;
		animation-duration: 7s;
	}
		#titleScreen.open:not(.suspended) #title-glow2 {
			animation-name: title-glow2;
		}

/* Level select screen styles */
#levelScreen .menu {
	padding: 0;
	/* Vertically center the level list. */
	display: flex;
	flex-direction: row;
	align-items: center;
}
#levelScreen .menu ul {
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	padding: 1.5rem; /* 24px default */
	width: auto;
	height: 21rem; /* 336px default */
	background-image: url('../images/backgrounds/level_select_horiz.jpg');
	background-size: 15rem 21rem; /* 240px 336px default */
	background-repeat: repeat;
	box-shadow: 0 1px 8rem 2rem rgba(0, 0, 0, 0.9);
}
#levelScreen .menu button {
	width: 12rem; /* 192px default */
	height: 12rem;
	padding: 1rem 0.75rem; /* 16px 12px default */
	margin: 1.5rem; /* 24px default */
	font-size: 100%;
	
	background-image: url('../images/buttons/level.jpg');
	background-size: contain;
}
	#levelScreen .menu button .title {
		font-size: 175%;
		margin-bottom: -0.25rem;
	}
	#levelScreen .menu button .number {
		font-size: 450%;
	}
	#levelScreen .menu button .score {
		font-size: 100%;
	}
.stars {
	font-size: 125%;
}

@media (min-width: 500px) and (min-height: 500px) {
	#levelScreen .menu ul {
		padding: 2rem; /* 32px default */
		height: 28rem; /* 448px default */
		background-size: 20rem 28rem; /* 448px 320px default */
	}
	#levelScreen .menu button {
		width: 16rem; /* 256px default */
		height: 16rem;
		margin: 2rem; /* 32px default */
	}
		#levelScreen .menu button .title {
			font-size: 200%;
			margin-bottom: 0;
		}
		#levelScreen .menu button .number {
			font-size: 500%;
		}
		#levelScreen .menu button .stars {
			margin-top: 0.5rem;
			margin-bottom: 0.25rem;
		}
}
@media (orientation: portrait) {
	#levelScreen .menu {
		display: block;
	}
	#levelScreen .menu ul {
		flex-direction: column;
		width: 21rem; /* 336px default */
		height: auto;
		background-image: url('../images/backgrounds/level_select_vert.jpg');
		background-size: 21rem 15rem; /* 336px 240px default */
	}
	#levelScreen .menu button {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 500px) and (min-height: 500px) and (orientation: portrait) {
	#levelScreen .menu ul {
		width: 28rem; /* 448px default */
		background-size: 28rem 20rem; /* 448px 320px default */
	}
}

/* Game screen styles */
#gameScreen {
	background: #101010;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#gameScreen .top-bar {
	text-align: center;
}
	#gameScreen .top-bar .back-button {
		float: left;
	}
	#gameScreen .top-bar #restart-button {
		float: right;
	}
#game-canvas {
	flex: none;
}
#level-name-display {
	float: left;
}
.score-display {
	display: inline-block;
	text-align: left;
	min-width: 4rem;
	margin: -1rem 0;
	padding: 0.5rem 0.125rem; /* 8px 2px default */
	padding-left: 0.25rem; /* 4px default; shift right so it looks less unbalanced */
}
#control-hint {
	pointer-events: none;
	position: fixed;
	right: 10%;
	top: 50%;
	width: 30%;
	height: 50%;
	
	background-image: url('../images/hints/arrow_up.png');
	background-size: contain;
	background-repeat: no-repeat;
	transform-origin: 50% 10%;
	
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: hint-loop-press;
}
	.prefer-input-touch #control-hint {
		background-image: url('../images/hints/pointer_finger.png');
		animation-name: hint-loop-swipe;
	}
	.prefer-input-gamepad #control-hint,
	.prefer-input-xbox #control-hint {
		background-image: url('../images/hints/dpad_up.png');
		animation-name: hint-loop-tilt;
	}


/* Results screen styles */
#aboutScreen,
#resultsScreen {
	background-color: #4b4a4e;
	background-image: url('../images/backgrounds/stone_light_smooth.jpg');
	background-size: cover;
	color: white;
}

.view#resultsScreen {
	border-radius: 100%;
	transform: scale(0);
}
	.view#resultsScreen.open {
		border-radius: 0;
		transform: scale(1);
	}

#resultsScreen .star {
	display: inline-block;
	width: 64px;
	height: 64px;
	
	border-radius: 50%;
	transform: scale(1);
}
	#resultsScreen .star::before {
		content: '\2606';
		display: block;
		
		position: relative;
		top: -13px;
		font-size: 64px;
		color: #e5e1d3;
		
		text-shadow:
			-1.5px -1.5px 1.5px rgba(0, 0, 0, 0.7),
			1.5px 1.5px 1.5px rgba(255, 255, 255, 0.25);
	}
	#resultsScreen .star.active {
		transform: scale(1.2);
		
		animation-name: star-ripple;
		animation-duration: 0.25s;
		animation-timing-function: limit;
	}
		#resultsScreen .star.active::before {
			content: '\2605';
			color: #c7c7d9;
			text-shadow:
				-1.5px -1.5px 1.5px rgba(0, 0, 0, 0.55),
				1.5px 1.5px 1.5px rgba(255, 255, 255, 0.25);
		}

#gameScore {
	float: right;
	margin-right: 8px;
}

/* Instructions screen styles */
#instructionsScreen,
#aboutScreen {
	text-shadow:
		-5px 12px 6px rgba(0, 0, 0, 0.15),
		8px 12px 6px rgba(0, 0, 0, 0.15),
		1px 11px 4px rgba(0, 0, 0, 0.25);
}
#instructionsScreen .menu img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
}
img.instructions-touch,
img.instructions-keyboard,
img.instructions-gamepad {
	width: 188px;
}
	.prefer-input-touch    #instructionsScreen .instructions-keyboard,
	.prefer-input-touch    #instructionsScreen .instructions-gamepad,
	.prefer-input-keyboard #instructionsScreen .instructions-touch,
	.prefer-input-keyboard #instructionsScreen .instructions-gamepad,
	.prefer-input-gamepad  #instructionsScreen .instructions-touch,
	.prefer-input-gamepad  #instructionsScreen .instructions-keyboard,
	.prefer-input-xbox     #instructionsScreen .instructions-touch,
	.prefer-input-xbox     #instructionsScreen .instructions-keyboard {
		display: none;
	}
.instructions-blocks {
	width: 312px;
}

/* About (credits) screen styles */
#aboutScreen {
	background-image: url('../images/backgrounds/stone_light_speckled.jpg');
}
#aboutScreen img {
	max-width: 90%;
}
#aboutScreen h2 {
	font-size: 125%;
}
#aboutScreen ul {
	list-style-type: none;
	padding: 0;
	margin: 0.5em;
}
	#aboutScreen ul li .icon {
		width: 0.9em;
		height: 0.9em;
		margin: -0.15em 0;
		fill: currentcolor;
	}
	#aboutScreen ul li a {
		text-decoration: none;
	}
		#aboutScreen ul li a:hover,
		#aboutScreen ul li a:focus {
			text-decoration: underline;
		}

/* Ad stuff */
#ad-container {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 3rem;
	z-index: 10;
	
	background-color: black;
	color: white;
	text-align: center;
}
@media (min-width: 500px) and (min-height: 500px) {
	#ad-container {
		height: 3.5rem;
	}
}