html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	background-color: #3b3a3d;
	color: #fdfcfb;
}

body,
button {
	font-family: 'Roboto Slab', sans-serif;
}

a {
	color: white;
}
	a:active,
	a.active {
		color: #f8f8f8;
	}

h1,
h2 {
	font-weight: normal;
	margin-top: 0;
}
h2 {
	margin-bottom: 0;
}

button {
	border: 0 none;
	outline: 0 none;
	background-color: #4b4a4e;
	color: inherit;
	cursor: pointer;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin: -4px 0;
}

/* Engraved text */
.top-bar,
.menu button,
#resultsScreen {
	text-shadow:
		-1px -1px 1px rgba(0, 0, 0, 0.7),
		1px 1px 1px rgba(255, 255, 255, 0.25);
}

.top-bar {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	top: 0;
	height: 3rem;
	padding: 0.75rem;
	margin: 0;
	
	font-size: 1.25rem;
	text-align: left;
	
	background-color: #525250;
	/* Polymer/MaterialZ Z1 */
	box-shadow:
		0 2px 5px 0 rgba(0, 0, 0, 0.26),
		0 2px 10px 0 rgba(0, 0, 0, 0.16);
	
	z-index: 4;
}
	#levelScreen .top-bar,
	#aboutScreen .top-bar {
		/* Polymer/MaterialZ Z2 */
		box-shadow:
			0 8px 17px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.top-bar button {
		width: 3rem;
		height: 3rem;
		margin: -0.75rem 0.5rem;
		vertical-align: top;
		
		border-radius: 0;
		background-size: 9rem 3rem;
		
		box-shadow:
			 5px 0 1px -1px rgba(255, 255, 255, 0.1),
			-5px 0 1px -1px rgba(0, 0, 0, 0.1);
	}
		.top-bar button:hover,
		.top-bar button:focus {
			background-position-x: -3rem;
			filter: brightness(1.05);
		}
		.top-bar button:active,
		.top-bar button.active {
			background-position-x: -6rem;
			box-shadow:
				 3px 0 1px -1px rgba(255, 255, 255, 0.2),
				-3px 0 1px -1px rgba(0, 0, 0, 0.2),
				inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		}

		.top-bar button.back-button {
			background-image: url('../images/buttons/back.jpg');
			margin-left: -0.75rem;
		}
			.top-bar button.back-button.close-button {
				background-image: url('../images/buttons/close.jpg');
			}
		.top-bar button#restart-button {
			background-image: url('../images/buttons/restart.jpg');
			margin-right: -0.75rem;
		}


.view {
	position: fixed;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 48px;
	
	opacity: 0;
	pointer-events: none;
	
	text-align: center;
	
	background-color: #03a9f4;
	background-image: url('../images/stone_bg_dark_speckled.jpg');
	background-size: cover;
	color: white;
	
	-webkit-transform: translateY(90%);
	   -moz-transform: translateY(90%);
	    -ms-transform: translateY(90%);
	     -o-transform: translateY(90%);
	        transform: translateY(90%);
	
	-webkit-transition-property: opacity, -webkit-transform, transform, -webkit-box-shadow, box-shadow;
	   -moz-transition-property: opacity, -moz-transform, transform, -moz-box-shadow, box-shadow;
	    -ms-transition-property: opacity, -ms-transform, transform, box-shadow;
	     -o-transition-property: opacity, -o-transform, transform, box-shadow;
	        transition-property: opacity, transform, box-shadow;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
	.view.active {
		-webkit-transform: translateY(0%);
		   -moz-transform: translateY(0%);
		    -ms-transform: translateY(0%);
		     -o-transform: translateY(0%);
		        transform: translateY(0%);
		opacity: 1;
		pointer-events: auto;
	}
	.view p {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 72px;
	}

.menu {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 16px;
	white-space: nowrap;
	overflow: auto;
	text-align: center;
}
	.menu button {
		min-width: 0;
		margin: 1em 0.5em;
		padding: 1em 2em;
		
		position: relative;
		
		box-shadow:
			inset 0 1px 3px 0 rgba(0, 0, 0, 0.25),
			inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25),
			0 0 0 0 rgba(0, 0, 0, 0.2),
			0 0 0 0 rgba(0, 0, 0, 0.15);
		
		transform: scale(1);
		
		transition-property: box-shadow, transform;
		transition-duration: 0.1s;
		transition-timing-function: linear;
	}
		.menu button:hover,
		.menu button:focus,
		#results-back-button:not(:active):not(.active) {
			z-index: 1;
			box-shadow:
				inset 0 1px 4px 0 rgba(0, 0, 0, 0.125),
				inset 0 0 0 rgba(0, 0, 0, 0.125),
				0 2px 5px 0 rgba(0, 0, 0, 0.26),
				0 2px 10px 0 rgba(0, 0, 0, 0.16);
			filter: brightness(1.05);
			transform: scale(1.2);
		}
		.menu button:active,
		.menu button.active {
			z-index: 2;
			box-shadow:
				inset 0 0 2px 0 rgba(0, 0, 0, 0.125),
				inset 0 0 0 rgba(0, 0, 0, 0.125),
				0 4px 10px 0 rgba(0, 0, 0, 0.23),
				0 4px 15px 0 rgba(0, 0, 0, 0.175);
			filter: brightness(1.07);
			transform: scale(1.3);
		}
@media (orientation: portrait) {
	.menu {
		white-space: normal;
	}
		.menu button {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
}

/* Title screen styles */
#titleScreen {
	background-color: #0277bd;
}
#titleScreen .menu button {
	width: 184px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 120%;
}
#title {
	max-width: 100%;
	max-height: 50%;
}

/* Level select screen styles */
#levelScreen .menu {
	padding: 0;
	/* Vertically center the level list. */
	display: flex;
	flex-direction: row;
	align-items: center;
}
#levelScreen .menu ul {
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	padding: 32px;
	width: auto;
	height: 448px;
	background-image: url('../images/level_select_bg_horiz.jpg');
	background-size: 320px 448px;
	background-repeat: repeat;
	box-shadow: 0 1px 128px 32px rgba(0, 0, 0, 0.9);
}
#levelScreen .menu button {
	width: 12rem; /* 192px default */
	height: 12rem;
	padding: 1rem 0.75rem; /* 16px 12px default */
	margin: 32px;
	font-size: 100%;
	
	background-image: url('../images/buttons/level.jpg');
	background-size: contain;
}
	#levelScreen .menu button .title {
		font-size: 175%;
		margin-bottom: -0.25rem;
	}
	#levelScreen .menu button .number {
		font-size: 450%;
	}
	#levelScreen .menu button .score {
		font-size: 100%;
	}
.stars {
	font-size: 125%;
}
	
@media (orientation: portrait) {
	#levelScreen .menu {
		display: block;
	}
	#levelScreen .menu ul {
		flex-direction: column;
		width: 448px;
		height: auto;
		background-image: url('../images/level_select_bg_vert.jpg');
		background-size: 448px 320px;
	}
	#levelScreen .menu button {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 500px) and (min-height: 500px) {
	#levelScreen .menu button {
		width: 16rem; /* 256px default */
		height: 16rem;
	}
		#levelScreen .menu button .title {
			font-size: 200%;
			margin-bottom: 0;
		}
		#levelScreen .menu button .number {
			font-size: 500%;
		}
		#levelScreen .menu button .stars {
			margin-top: 0.5rem;
			margin-bottom: 0.25rem;
		}
}

/* Game screen styles */
#gameScreen {
	background: #101010;
}
#gameScreen .top-bar {
	text-align: center;
}
	#gameScreen .top-bar .back-button {
		float: left;
	}
	#gameScreen .top-bar #restart-button {
		float: right;
	}
.score-display {
	display: inline-block;
	text-align: left;
	min-width: 4rem;
	margin: -1rem 0;
	padding: 0.5rem 0.125rem; /* 8px 2px default */
	padding-left: 0.25rem; /* 4px default; shift right so it looks less unbalanced */
}
#control-hint {
	position: fixed;
	right: 10%;
	top: 50%;
	width: 30%;
	
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: control-hint-loop;
}


/* Results screen styles */
#aboutScreen,
#resultsScreen {
	background-color: #4b4a4e;
	background-image: url('../images/stone_bg_light_smooth.jpg');
	background-size: cover;
	color: white;
}

.view#resultsScreen {
	border-radius: 100%;
	transform: scale(0);
}
	.view#resultsScreen.active {
		border-radius: 0;
		transform: scale(1);
	}

#resultsScreen .star {
	display: inline-block;
	width: 64px;
	height: 64px;
	
	border-radius: 50%;
	transform: scale(1);
}
	#resultsScreen .star::before {
		content: '\2606';
		display: block;
		
		position: relative;
		top: -13px;
		font-size: 64px;
		color: #e5e1d3;
		
		text-shadow:
			-1.5px -1.5px 1.5px rgba(0, 0, 0, 0.7),
			1.5px 1.5px 1.5px rgba(255, 255, 255, 0.25);
	}
	#resultsScreen .star.active {
		transform: scale(1.2);
		
		animation-name: star-ripple;
		animation-duration: 0.25s;
		animation-timing-function: limit;
	}
		#resultsScreen .star.active::before {
			content: '\2605';
			color: #c7c7d9;
			text-shadow:
				-1.5px -1.5px 1.5px rgba(0, 0, 0, 0.55),
				1.5px 1.5px 1.5px rgba(255, 255, 255, 0.25);
		}

#gameScore {
	float: right;
	margin-right: 8px;
}

/* About (credits) screen styles */
#aboutScreen {
	background-image: url('../images/stone_bg_light_speckled.jpg');
	
	text-shadow:
		-5px 12px 6px rgba(0, 0, 0, 0.15),
		8px 12px 6px rgba(0, 0, 0, 0.15),
		1px 11px 4px rgba(0, 0, 0, 0.25);
}
#aboutScreen img {
	max-width: 90%;
}
#aboutScreen h2 {
	font-size: 125%;
}
#aboutScreen ul {
	list-style-type: none;
	padding: 0;
	margin: 0.5em;
}
